<%- include('../partials/header') %>

<%- include('../partials/nav') %>

<h2><%= pokeData.name %></h2>

<div class="pokeId">
       <p class="id"><%= pokeData.pokeId %></p>
        <img src="<%= pokeData.image %>">
</div>

<%- include('../partials/footer') %>