<%- include('../partials/header') %>

<%- include('../partials/nav') %>

<h2><%= pokeData.name %></h2>

<p class="id">#<%= pokeData.pokeId %></p>
<p class="type">Type | <span class="bold"><%= pokeData.type %></span></p>

<div class="pokeId">
    <img src="<%= pokeData.image %>">
</div>

<%- include('../partials/footer') %>