<!-- <%- include('./partials/header') %>

    <div class="error">
        <div class="errormsg">
            <h4>Uh Oh<span class="blue">!</span></h4>
            <p id="error">Looks like we can't find the page you're looking for.</p>
        </div>
        <div class="ghost">
            <img src="https://i.imgur.com/xrXiZMd.png">
        </div>
    </div>

<%- include('./partials/footer') %> -->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>