<%- include('../partials/header') %>

<%- include('../partials/nav') %>

<h2><span>&nbsp;<%= game.title %></span></h2>

<div class="add">
    <div class="addpokemon">
        <form action="/games/<%= game._id %>/pokemon" method="GET">
                <input type="text" name="pokemon" class="form-control" placeholder="Enter a Pokémon Name" required>
        </form>
    </div>
</div>

<div class="caughtcontainer">
    <div class="caught">
        <% if (game.caught.length) { %>
            <% game.caught.forEach(function(p) { %>
                <a id="caughtpoke" href="/pokemon/<%= p._id %>"><img src="<%= p.image %>"></a>
        <% }); %>
        
        <% } else { %>
            <h3>No Pokémon Yet</h3>
        <% } %>
    </div>
</div>  

<div class="delete">
    <form action="/games/<%= game._id %>?_method=DELETE" method="POST">
        <button type="submit">DELETE GAME</button>
      </form>
</div>

<%- include('../partials/footer') %>