<%- include('../partials/header') %>

<%- include('../partials/nav') %>

<h2><%= game.title %></h2>

<div class="caught">
    <% if (pokemon.length) { %>
        <% pokemon.forEach(function(p) { %>
            <a href="/pokemon/<%= p._id %>"><%= p.name %></a>
    <% }); %>
    
    <% } else { %>
        <h3>No Pokémon Yet</h3>
    <% } %>
</div>

<div class="addpokemon">
    <form action="/pokemon/<%= game._id %>/games" method="GET">
            <input type="text" name="pokemon" class="form-control" placeholder="Enter a Pokémon Name" required>
            <button class="submit" type="submit">Add Pokémon</button>
    </form>
</div>

<div class="teams">
    <% if (game.teams.length) { %>
        <% teams.forEach(function(t) { %>
            <a href="/teams/<%= t._id %>"><%= t.name %></a>
    <% }); %>
    
    <% } else { %>
        <h3>No Teams Yet</h3>
    <% } %>
</div>

<div class="addteams">
    <h3>Add A Team</h3>
    <form action="/games/<%= game._id %>" method="POST">
        <label>Name:
            <select name="name">
                <option disabled selected value></option>
            </select>
        </label>
        <label>Type:
            <select name="type">
                <option disabled selected value></option>
            </select>
        </label>
        <label>Nickname:
            <input name="nickname" type="text">
        </label>
        <button type="submit">Add Pokémon</button>
    </form>
    </div>

<div class="delete">
    <form action="/games/<%= game._id %>?_method=DELETE" method="POST">
        <button type="submit">DELETE GAME</button>
      </form>
</div>

<%- include('../partials/footer') %>